/**********BEGIN GLOBAKL CSS**********/


/*FONT IMPORT*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);
}


/*CSS RESET*/

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*FONT*/

* {
    font-family: 'Ubuntu-Regular';
    color: #5B5B5B;
}


/*LINK COLOR*/

#content a {
    transition: .25s linear;
}

#content a:hover {
    color: #FF6A00;
}


/*NAV BAR*/


/* Navigation Menu - Background */

#nav {
    background-color: #006500;
    /* critical sizing and position styles */
    width: 14em;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    /*for scrolling*/
    max-height: 100vh;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}


/* Navigation Menu - List items */

#nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: square;
}

#nav ul li {
    /* non-critical appearance styles */
    width: 100%;
    transition: background-color .3s linear;
    display: block;
    overflow: hidden;
}

#nav ul li:hover {
    background-color: #4F7600;
}

#nav p {
    text-align: left;
    font-size: 1.5em;
    padding-left: 1em;
}

#nav #subNav1 p {
    padding-left: 2em;
}

#nav a.currentPage {
    color: #004c4c;
}

#nav a {
    display: block;
    padding: 3em;
    margin: -3em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .3s linear;
}

#nav a:hover {
    color: #004c4c;
}


/* Site Wrapper - Everything that isn't navigation */

#wrapper {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}


/*following header*/

#blueBlock {
    width: 100%;
    height: 7.5em;
    background-color: #006500;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    transition: .5s linear;
}

#blueBlockContent {
    position: absolute;
    top: 0;
    height: 5em;
    width: 100%;
    background-color: #006500;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#blueBlockAccent {
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
    background-color: #004c4c;
}

.nav-trigger:checked~ #blueBlock {
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.4);
}

#pgTitleD {
    display: none;
}

#pgTitleM {
    color: #1F7676;
    font-size: 2em;
    text-align: center;
    margin-top: .25em;
    margin-bottom: 0;
    padding: 0;
}

.navMobileSpacer {
    height: 7.5em;
    width: 100%;
}

#navContainer img {
    position: absolute;
    position: fixed;
    top: .25em;
    left: 1em;
    height: 4.5em;
    z-index: 11;
}

#moverBlock {
    height: 7.5em;
    width: 100%;
}


/* Pure CSS3 Hamburger*/

.clear-menu-btn {
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 12;
    width: 3em;
    height: 3em;
    margin: 0 auto;
}

.nav-trigger:hover {
    cursor: pointer;
}

.nav-trigger:checked~ .clear-menu-btn .top,
.nav-trigger:checked~ .clear-menu-btn .bottom {
    top: 50%;
}

.nav-trigger:checked~ .clear-menu-btn .top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-trigger:checked~ .clear-menu-btn .bottom {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-trigger:checked~ .clear-menu-btn .middle {
    filter: alpha(opacity=0);
    opacity: 0;
}

.nav-trigger:checked~ .clear-menu-btn .circle {
    filter: alpha(opacity=100);
    opacity: 1;
}

.clear-menu-btn span {
    position: absolute;
    display: block;
    width: 3em;
    height: .12em;
    background-color: #808080;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.clear-menu-btn .top {
    top: 15%;
}

.clear-menu-btn .middle {
    top: 50%;
}

.clear-menu-btn .bottom {
    top: 85%;
}

.clear-menu-btn .circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: alpha(opacity=0);
    opacity: 0;
    width: 2.9em;
    height: 2.9em;
    background-color: transparent;
    border-radius: 50%;
    border: .14em solid #808080;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: -1;
}


/* Nav Trigger */

.nav-trigger {
    /* critical styles - hide the checkbox input*/
    position: fixed;
    z-index: 13;
    top: 1em;
    right: 1em;
    height: 4em;
    width: 4em;
    filter: alpha(opacity=0);
    opacity: 0;
}


/* Make the Magic Happen */

#wrapper {
    transition: right .5s;
}

.nav-trigger:checked~ #wrapper {
    /*The window*/
    right: 14em;
}


/* Without this, the body has excess horizontal scroll when the menu is open */

body {
    overflow-x: hidden;
}


/*FOOTER*/

#footer_accent {
    background-color: #262626;
    width: 100%;
    height: 30%;
}

#footerArrow img {
    height: 100%;
    float: right;
}


/*FOOTER CONTENT*/

#footerContent {
    height: 70%;
    width: 100%;
}

#connect {
    height: 30%;
}

#connect h2 {
    text-align: center;
    padding-top: .4em;
    margin: 0;
}


/*FOOTER SOCIAL ICONS*/

#connectSocial {
    height: 60%;
    width: 95%;
    margin: auto;
    text-align: justify;
}

#connectSocial img {
    display: inline-block;
    vertical-align: top;
    /* IE fix. */
    *display: inline;
    zoom: 1;
}

#connectSocial:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#connectSocial img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 55%;
}

#connectSocial img {
    opacity: 1;
    transition: visibility 0s .25s, opacity .25s linear;
}

#connectSocial:hover img {
    opacity: 0.2;
    transition: opacity .25s linear;
}

#connectSocial:hover img:hover {
    opacity: 1;
    transition: visibility 0s .25s, opacity .25s linear;
}


/*bduke site*/

#bduke {
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
    bottom: 0;
    right: 0;
}

#bduke a {
    font-size: 1em;
    text-decoration: none;
    transition: .25s linear;
}

#bduke a:hover {
    color: #FF6A00;
}


/*FOOTER> KEEP AT BOTTOM*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 13em;
    /* Height of the footer element */
}

#footer {
    background: #111111;
    width: 100%;
    height: 12em;
    position: absolute;
    bottom: 0;
    left: 0;
}


/**********END GLOBAKL CSS**********/


/**********BEGIN HOME PAGE**********/


/*SEPERATE SLIDESHOW FROM CONTENT*/

.seperator {
    width: 100%;
    height: 1em;
}


/*PAGE SIZE*/

#mainContent {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


/*TEXT*/

#mainContent p {
    text-align: center;
    font-size: 1.4em;
}

#mainContent p:nth-child(4) {
    margin-bottom: 0;
    padding-bottom: 0;
}


/**********END HOME PAGE**********/
