/**********BEGIN GLOBAKL CSS**********/


/*FONT IMPORT*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);
}


/*CSS RESET*/

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*FONT*/

* {
    font-family: 'Ubuntu-Regular';
    color: #2F2F2F;
}


/*TEXT*/

main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1.8em;
}

main h3 {
    font-size: 1.7em;
}

main h4 {
    font-size: 1.6em;
}

main p {
    font-size: 1.5em;
}


/*LINK COLOR*/

#content a {
    transition: .25s linear;
}

#content a:hover {
    color: #199D72;
}


/*PAGE SIZE*/

main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


/*NAV BAR*/

#navContainer * {
    padding: 0;
    margin: 0;
}

#navContainer {
    position: relative;
    height: 12em;
    width: 100%;
    background-color: #125D53;
}

#nav {
    position: absolute;
    top: 0;
    right: 0;
}

#anotherNavContainer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 8.4em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#navAccent {
    position: absolute;
    bottom: 0;
    background-color: #676767;
    width: 100%;
    height: 3.6em;
}

#nav ul {
    height: 100%;
    list-style: none;
    position: relative;
    float: left;
    padding-right: 2.5em;
    z-index: 2;
}

#nav ul li {
    height: 100%;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    transition: background-color .3s linear;
}

#nav ul li:hover {
    background: #277369;
}

#nav ul li a:hover {
    color: #199D72;
}

#nav a.currentPage {
    color: #199D72;
}


/*DROPDOWN SUBNAV*/

#resourceDropdown {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-height: 8.4em;
    transition: all 1s ease-in-out;
}

#subNav1 {
    visibility: hidden;
    transform: translateY(-50em);
    transition: .7s linear;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    background: #125D53;
    width: 100%;
}

#subNav1 li {
    float: none !important;
    width: 100% !important;
    height: 4em !important;
    overflow: hidden;
}

#resourceDropdown:hover> #subNav1 {
    visibility: visible;
    transform: translateY(0em);
}

#resourceDropdown:hover {
    max-height: 50em;
}


/*TEXT*/

#nav a {
    display: block;
    text-align: center;
    height: 8.4em;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .3s linear;
    overflow: hidden;
}

#nav p {
    font-size: 1em;
    letter-spacing: .1em;
    padding-left: .8em;
    padding-right: .8em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    height: 8.4em;
    line-height: 8.4em;
    white-space: nowrap;
}

#subNav1 p {
    text-align: center;
    height: 4em !important;
    line-height: 4em !important;
}

#subNav1 a {
    height: 4em !important;
    padding-top: 0 !important;
}


/*PG TITLE*/

#pgTitleD {
    color: #C5C5C4;
    font-size: 2.2em;
    text-align: center;
    height: 1.4em;
    line-height: 1.4em;
    white-space: nowrap;
}


/*IMAGE*/

#navContainer img {
    position: absolute;
    top: -.4em;
    left: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 2.5em;
    margin: 0;
    height: 9em;
}


/*MOBILE NAV*/

#nav-trigger {
    display: none;
}

#blueBlock {
    display: none;
}

.clear-menu-btn {
    display: none;
}

#navHome {
    display: none;
}


/*FOOTER*/

#footer_accent {
    background-color: #676767;
    width: 100%;
    height: 30%;
}

#MUGG {
    margin: 0;
    padding: 0;
    color: #C5C5C4;
    font-size: 2.2em;
    text-align: center;
    height: 1.4em;
    line-height: 1.4em;
    white-space: nowrap;
}


/*FOOTER CONTENT*/

#footerContent {
    height: 70%;
    width: 100%;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.19), 0 -6px 6px rgba(0, 0, 0, 0.23);
}

#connect {
    height: 30%;
}

#connect h2 {
    text-align: center;
    padding-top: .4em;
    margin: 0;
    color: white;
}


/*FOOTER SOCIAL ICONS*/

#connectSocial {
    height: 70%;
    width: 80%;
    margin: auto;
    text-align: justify;
}

#connectSocial img {
    display: inline-block;
    vertical-align: top;
    /* IE fix. */
    *display: inline;
    zoom: 1;
}

#connectSocial:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#connectSocial img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
}

#connectSocial img {
    opacity: 1;
    transition: visibility 0s .25s, opacity .25s linear;
}

#connectSocial:hover img {
    opacity: 0.2;
    transition: opacity .25s linear;
}

#connectSocial:hover img:hover {
    opacity: 1;
    transition: visibility 0s .25s, opacity .25s linear;
}


/*bduke site*/

#bduke {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: .5em;
    right: .5em;
}

#bduke a {
    font-size: 1em;
    text-decoration: none;
    transition: .25s linear;
    color: white;
}

#bduke a:hover {
    color: #199D72;
}


/*FOOTER> KEEP AT BOTTOM*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 12em;
    /* Height of the footer element */
}

#footer {
    background: #125D53;
    width: 100%;
    height: 12em;
    position: absolute;
    bottom: 0;
    left: 0;
}


/**********END GLOBAKL CSS**********/


/**********BEGIN HOME PAGE**********/


/*SEPERATE SLIDESHOW FROM CONTENT*/

.seperator {
    width: 100%;
    height: 1em;
}


/*TEXT*/

#mainHome h1,
#mainHome h2,
#mainHome h3,
#mainHome p {
    text-align: center;
}

#mainHome blockquote {
    text-align: center;
    font-size: 1.5em;
}

.pgBio {
    text-align: left !important;
}


/**********END HOME PAGE**********/


/**********BEGIN NEWS**********/


/*TEXT*/

#mainNews h2,
#mainNews h3,
#mainNews p {
    text-align: center;
}


/**********END NEWS**********/


/**********BEGIN ABOUT**********/


/*TABLE*/

#mainAbout table {
    width: 100%;
}


/*TEXT*/

#mainAbout h1,
#mainAbout h2,
#mainAbout h3,
#mainAbout h4,
#mainAbout p {
    text-align: center;
}


/*IMAGES*/

#mainAbout img {
    width: 20vw;
}


/**********END ABOUT**********/


/**********BEGIN RESOURCES and SUB-PAGES**********/


/*TABLE*/

.resourcesNav {
    width: 100%;
    border-collapse: collapse;
}

.resourcesNav tr {
    border-spacing: 5em;
}

.resourcesNav tr td {
    border: .2em solid #125D53;
    overflow: hidden;
}

.resourcesNav {
    margin-top: .5em;
}


/*dropdown*/

#resourceJump,
#ac-0,
#ac-1 {
    display: none;
}


/*TEXT*/

#mainResources> ul,
#mainReference> article> ul {
    font-size: 1.5em;
}

.resourcesNav tr td h3 a {
    text-decoration: none;
    margin: -5em;
    padding: 5em;
}

.resourcesNav tr td h3 {
    text-align: center;
}

#resourcesNavWrapper a.currentPage {
    color: #199D72;
}


/*IMAGES*/

#mainEngineering img {
    width: 100%;
}


/**********END RESOURCES and SUB-PAGES**********/
