/*
*Geeks and Gadgets site style sheet
*Author: Patrick Shinn
*Last Update: 2/6/16
*-----------------------------------------------------------------------------------------------------
*The first half is for big screens like that of a computer, the second half is for small mobile devices
*/

/* 
*Desktop and Laptops
*-----------------------------------------------------------------------------------------------------
*/

/*Page Body*/
<<<<<<< HEAD
html,
body {
	background-image: url(contents/circuit-board.png);
   	font-family: ubuntu, arial;
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
=======
body{
    background-image: url(contents/circuit-board.png);
    font-family: ubuntu, arial;
    margin:0;
	padding:0;
	height:100%;
}
#wrapper{
    min-height:100%;
>>>>>>> 9de3e0e4a215e474ca54749f10f89a3c51e5b349
	position:relative;
}

/*Header
-------------------------------------------------------------------*/
#head{
    /* only for linking purposes.*/
}
header{
    margin-top: -.1em;
    margin-right: -.5em;
    margin-left: -.5em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}
header table{
    text-align: center;
    font-size: 2em;
    font-family: ubuntu, verdana;
    margin-top: -20px;
    margin-bottom: -20px;
}
header h1{
    text-align: center;
}

#logo{
    height: 100%;
    width: 200px;
    max-height:100%; 
    max-width:100%;
}
<<<<<<< HEAD

/*Header Navigation
---------------------------------------------------------------------*/
#head{/*only for linking purposes.*/}

=======
/*Header Navigation
---------------------------------------------------------------------*/
}
>>>>>>> 9de3e0e4a215e474ca54749f10f89a3c51e5b349
nav ul{list-style-type: none;}

nav li{display: inline;}

#main_nav{
    background-color: black;
    margin: auto;
    width: 100%;
}
#titleWrapper{width: 27%;}

#main_nav h1{
    text-align: left;
    font-family: "courier new";
    font-size: 2em;
    color: #34AB00;
}
.page_nav{
    padding-left: .5em;
    padding-right: .5em;
}
.page_nav:link{
    text-decoration:none;
    color: white;
}
.page_nav:visited{
    text-decoration: none;
    color: white;
}
.page_nav:hover{
    text-decoration: none;
    color:forestgreen;
}
.internal_nav_back{
    background-color: #47484B
    padding: -2em;
    text-align: center;
    font-size: 2em;
}
.internal_nav{
    margin-left: .5em;
    margin-right: .5em;
}
.internal_nav:link{
    text-decoration:none;
    color: green;
}
.internal_nav:visited{
    text-decoration:none;
    color: green;
}
.internal_nav:hover{
    color: lightgreen;
}

/*Links
------------------------------------------------------------------*/
.link:link{
    text-decoration: none;
    color: blue;
}
.link:visited{
    text-decoration: none;
    color: blue;
}
.link:hover{
    text-decoration: none;
    color: aqua;
}

/*Main
------------------------------------------------------------------*/
<<<<<<< HEAD
main {
	padding-left: 1em;
   	padding-right: 1em;
	padding-bottom: 5em;
	background-color: whitesmoke;
	padding:10px;
	margin-bottom: 5em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
=======
main{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: 5em;
    margin-bottom: 5em;
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 1em;
>>>>>>> 9de3e0e4a215e474ca54749f10f89a3c51e5b349
}
#spacer{
    padding-bottom: 10em;
}
article{
    /*aricle formating*/
}
.sitemap{
    padding-bottom: -1em;
    margin-bottom: -.8em;
}
<<<<<<< HEAD
#spacer {
	padding-bottom:11em;

/*Footer
-------------------------------------------------------------------*/
}
footer {
	background-color:#393A3C;
	color: white;
	text-align: center;
	font-family: ubuntu, verdana;
	width:100%;
	height:7.8em;
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom: -.5em;
}
=======
/*Footer
-------------------------------------------------------------------*/
footer{
    background-color: #393A3C;
    color: white;
    text-align: center;
    font-family: ubuntu, verdana;
    width:100%;
    height: 8.5em;
	position:absolute;
	bottom:0;
	left:0;
}


>>>>>>> 9de3e0e4a215e474ca54749f10f89a3c51e5b349
footer table{
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
footer td{
    padding-left: .5em;
    padding-right: .5em;
    width: 1.8em;
}
footer img{
    width: 2.5em;
    height: 2.5em;
}

/* Special id tags formating
---------------------------------------------------------------------*/
#calendarwrapper{
    margin: auto;
    height: 50em;
    width: 80%;
    margin-bottom: 2em;
}
#calendar{
    margin:0 auto;
    border:solid 0.09em #000;
    height: 100%;
    width: 100%;
    
}
/*-------------------------------------------------------------------------------------------------------
*
* Small Screen formating 
*---------------------------------------------------------------------------------------------------------
*/
@media screen and (max-width: 1000px){
/* Applies to header */
    
/* Applies to main */
    main{
        font-size: 2em;
    }
/* Heading Page Navigation */
    header table nav{
        
    }
    
/* Removes logo on smaller screens */
    #logoright{
     display: none;
    }
    #logoleft{
     display: none;
    }
    
    #calendarwrapper{
        height: 30em;
    }
/* Makes social media links bigger */
    footer img{
        width: 3.2em;
        height: 3.2em;
    }
}
