/*
*Geeks and Gadgets site style sheet
*Author: Patrick Shinn
*Last Update: 2/29/16
*-----------------------------------------------------------------------------------------------------
*  The first half is for big screens like that of a computer, the second half is for small mobile devices

Special thanks to:
    CSSReset.com for absolute footer help. 
    http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/



    Bradon Duke for a variety of resources that helped make this page possible.
*/

/* Desktop and Laptops
-----------------------------------------------------------------------------------------------------*/

/*Page Body
-----------------------------------------------------------------*/
html,
body {
	background-image: url(contents/circuit-board.png);
    overflow-x: hidden;
   	font-family: ubuntu, arial;
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}

/*Header
-------------------------------------------------------------------*/
#head{
    /* only for linking purposes.*/
}
header{
    margin-top: -.1em;
    margin-right: -.5em;
    padding-right: .5em;
    padding-left: .5em;
    margin-left: -.5em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}
header table{
    text-align: center;
    font-size: 2em;
    font-family: ubuntu, verdana;
    margin-top: -20px;
    margin-bottom: -20px;
}
header h1{
    text-align: center;
}

#logo{
    height: auto;
    width: 200px;
    max-height:100%; 
    max-width:100%;
}

/*Header Navigation
---------------------------------------------------------------------*/
#head{/*only for linking purposes.*/}

nav ul{list-style-type: none;}

nav li{display: inline;}


/*Main page navigation header*/
#main_nav{
    background-color: black;
    margin: auto;
    width: 100%;
}
#titleWrapper{width: 26%;}

#main_nav h1{
    text-align: left;
    font-family: "courier new";
    font-size: 2em;
    color: #34AB00;
}
/*Main page nav formating*/
.page_nav{
    padding-left: .1em;
    padding-right: .1em;
}
.page_nav:link{
    text-decoration:none;
    color: white;
}
.page_nav:visited{
    text-decoration: none;
    color: white;
}
.page_nav:hover{
    text-decoration: none;
    color:forestgreen;
}

/*Formating for all internal page navigation*/
.internal_nav_back{
    background-color: #47484B
    padding: -2em;
    text-align: center;
    font-size: 2em;
}
.internal_nav{
    margin-left: .5em;
    margin-right: .5em;
}
.internal_nav:link{
    text-decoration:none;
    color: green;
}
.internal_nav:visited{
    text-decoration:none;
    color: green;
}
.internal_nav:hover{
    color: lightgreen;
}

/*Links
------------------------------------------------------------------*/
.link:link{
    text-decoration: none;
    color: blue;
}
.link:visited{
    text-decoration: none;
    color: blue;
}
.link:hover{
    text-decoration: none;
    color: aqua;
}

/*Main
------------------------------------------------------------------*/
main {
	padding-left: 1em;
   	padding-right: 1em;
	padding-bottom: 5em;
	background-color: whitesmoke;
	padding:10px;
	margin-bottom: 5em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
}
article{
    /*aricle formating*/
}
table{
    text-align: center;
}
td{
    margin: .5em;
}
#livefeed td{
    height: 13em;
    width: 25em;
    border: solid .2em black;
}
.album-cover{
    height: 180px;
    width: 210px;
    border: solid black;
}
.sitemap{
    /*Used in programming page for sub headers*/
    padding-bottom: -1em;
    margin-bottom: -.8em;
}
#spacer {
    /*For the absolute footer*/
	padding-bottom:11em;

/*Footer
-------------------------------------------------------------------*/
}
footer {
	background-color:#393A3C;
	color: white;
	text-align: center;
	font-family: ubuntu, verdana;
	width:100%;
	height:9em;
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom: -.5em;
}
footer table{
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
footer td{
    padding-left: .5em;
    padding-right: .5em;
    width: 1.8em;
}
footer img{
    width: 3.5em;
    height: 3.5em;
}

/* Special id tags formating
---------------------------------------------------------------------*/
#calendarwrapper{
    margin: auto;
    height: 50em;
    width: 80%;
    margin-bottom: 2em;
}
#calendar{
    margin:0 auto;
    border:solid 0.09em #000;
    height: 100%;
    width: 100%;
    
}
/*-------------------------------------------------------------------------------------------------------
*
* Small Screen formating 
*---------------------------------------------------------------------------------------------------------
*/
@media screen and (max-width: 1000px){
/* Applies to header */
    
/* Applies to main */
    main{
        font-size: 2em;
        width: 95%;
    }
/* Heading Page Navigation */
    header table nav{    
    }
    #calendarwrapper{
        height: 30em;
    }
    /*Footer pull down for firefox.*/
    footer{
        height: 11em;
    }
/* Makes social media links bigger */
    footer img{
        width: 6em;
        height: 6em;
    }
}
