<!doctype html>
<html lang='en'>
    <head>
        <script src="http://use.edgefonts.net/ubuntu:n4,i4,n7,i7,n3,i3,n5,i5:all.js"></script>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="stylesheet.css">
        <title></title>
        <link rel="icon" type="image/png" sizes="20X20" href="../contents/Logo.png">
    </head>
    <body>
        <header>
            <img src="contents/Logo.png" alt="logo" id="logoright"/>
            <img src="contents/Logo.png" alt="logo" id="logoleft"/>
            <div id="head">
            <h1>#_</h1>
            </div>
            <nav id="main_nav">
                <ul>
                    <li><a class="page_nav" href="index.html">Home</a></li>
                    <li><a class="page_nav" href="news/index.html">News</a></li>
                    <li><a class="page_nav" href="about/index.html">About Us</a></li>
                    <li><a class="page_nav" href="Resources/index.html">Resources</a></li>
                    <li><a class="page_nav" href="projects/index.html">Projects</a></li>
                </ul>                
            </nav>
        </header>
        <main>
            <article>
                <h2></h2>
            </article>
        </main>
        <footer>
            <nav> 
                <ul>
                    <li><a class="footer_page_nav" href="contact.html">Contact Us</a></li> |
                    <li><a target=" _blank" class="footer_page_nav" href="../contents/Application.pdf">Join</a></li> |
                    <li><a class="footer_page_nav" href="www.facebook.com/geeksandgadgetsclub">Facebook Page</a></li>
                </ul>
            </nav>
            <text>Geeks and Gadgets 2016</text>
        </footer>
    </body>
</html>